<nav>
  <ul class="main-list">
    <li class="main-item">
      <a routerLink="/"
         routerLinkActive="active"
         [routerLinkActiveOptions]="{exact: true}"
         class="main-link">Интро</a>
    </li>
<!--    <li class="main-item">-->
<!--      <a routerLink="/some"-->
<!--         routerLinkActive="active"-->
<!--         [routerLinkActiveOptions]="{exact: true}"-->
<!--         class="main-link">Мои данные</a>-->
<!--    </li>-->
    <li class="main-item">
      <a routerLink="/main-panel"
         routerLinkActive="active"
         [routerLinkActiveOptions]="{exact: true}"
         class="main-link">Мой трекер</a>

<!--      <ul class="sub-list">-->
<!--        <li class="sub-item">-->
<!--          <a routerLink="/panel" class="sub-link">Мои пробежки</a>-->
<!--        </li>-->
<!--        <li class="sub-item">-->
<!--          <a href="#" class="sub-link">Катание на велике</a>-->
<!--        </li>-->
<!--      </ul>-->
    </li>
    <li class="main-item">
      <a routerLink="/statistics"
         routerLinkActive="active"
         [routerLinkActiveOptions]="{exact: true}"
         class="main-link">Статистика</a>
    </li>
    <li class="main-item"
      routerLink="/login">
      <a routerLink="/main-panel"
         class="main-link">Вход</a>
    </li>
<!--    <li class="main-item">-->
<!--      <a (click) = "onLogout()"-->
<!--         class="main-link">Выйти</a>-->
<!--    </li>-->
  </ul>
</nav>
