.main-list,
.sub-list {
  display: block;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.sub-list {
  padding-bottom: 5px;
}

.main-item {
  display: block;
  border-bottom: 1px solid #dadada;
}

.sub-item {
  display: block;
}

.main-link {
  display: block;
  padding: 10px;
  color: #434343;
  font-size: 18px;
  text-decoration: none !important;
  transition: all .2s;
}

.main-link:hover {
  background: #2780E3;
  color: #ffffff;
}

.main-link.active {
  background: #2780E3;
  color: #ffffff;
}

.sub-link {
  display: block;
  padding: 5px;
  padding-left: 55px;
  font-size: 16px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #434343;
}

.sub-link.active {
  text-decoration: underline;
  cursor: pointer;
  pointer-events: none;
}
