<form [formGroup]="form" (submit)="onSubmit()">
  <div class="form-group">
    <input type="date"
           formControlName="data"
           [class.is-invalid]="form.get('data').invalid && form.get('data').touched"
           class="form-control is-invalid">
    <div class="invalid-feedback">
      {{getErrors(form.get('data'))}}
    </div>
  </div>
  <div class="form-group">
    <input type="text"
           formControlName="steps"
           class="form-control is-invalid"
           [class.is-invalid]="form.get('steps').invalid && form.get('steps').touched"
           placeholder="Шаги">
    <div class="invalid-feedback">
      {{getErrors(form.get('steps'))}}
    </div>
  </div>
  <div class="form-group">
    <input type="time"
           formControlName="duration"
           class="form-control"
           placeholder="Длительность">
  </div>
  <div class="form-group">
    <button type="submit"
            [disabled]="form.pristine || form.invalid"
            class="btn btn-success btn-block">
      Сохранить
    </button>
  </div>
</form>

<!--{{form.value | json}} <br>-->
<!--{{form.get('steps').errors | json}} <br>-->
<!--{{form.invalid}}-->

