<h2 class="header">Анализ показателей</h2>
<div>
  <div style="display: block">
    <canvas baseChart
            [datasets]="barChartData"
            [labels]="barChartLabels"
            [options]="barChartOptions"
            [legend]="true"
            chartType="bar"
            class="myCanvas">
    </canvas>
  </div>
</div>
