.card {
    border-radius: 5px;
}

.card-header-primary {
    background-color: #2780E3;
    color: #ffffff;
}

.card-header-success {
    background-color: #3FB618;
    color: #ffffff;
}

.card-header-warning {
    background-color: #FF7518;
    color: #ffffff;
}

.card-header-info {
    background-color: #9954BB;
    color: #ffffff;
}
