<div class="card border-primary mb-3" style="max-width: 18rem;">
    <div class="card-header card-header-primary">Общее количество</div>
    <div class="card-body text-primary">
        <h4 class="card-title"><span>{{getTotalSteps | mathfloor| step }}</span></h4>
        <h4 class="card-title"><span>{{getTotalDistance | mathfloor| distance }}</span></h4>
        <h4 class="card-title"><span>{{getTotalBurn | mathfloor| burn }}</span></h4>
    </div>
</div>

<div class="card border-success mb-3" style="max-width: 18rem;">
  <div class="card-header card-header-success">Ваш рекорд</div>
  <div class="card-body text-success">
    <h4 class="card-title"><span>{{getMaxStep | step }}</span></h4>
    <h4 class="card-title"><span>{{getMaxDistance | mathfloor| distance }}</span></h4>
    <h4 class="card-title"><span>{{getMaxBurn | mathfloor| burn }}</span></h4>
  </div>
</div>

<div class="card border-warning mb-3" style="max-width: 18rem;">
  <div class="card-header card-header-warning">Ваши самые низкие показатели</div>
  <div class="card-body text-warning">
    <h4 class="card-title"><span>{{getMinSteps | mathfloor| step }}</span></h4>
    <h4 class="card-title"><span>{{getMinDistance | mathfloor| distance }}</span></h4>
    <h4 class="card-title"><span>{{getMinBurn | mathfloor| burn }}</span></h4>
  </div>
</div>

<div class="card border-info mb-3" style="max-width: 18rem;">
  <div class="card-header card-header-info">Среднее количество</div>
  <div class="card-body text-info">
    <h4 class="card-title"><span>{{getAverageSteps | mathfloor | step }}</span></h4>
    <h4 class="card-title"><span>{{getAverageDistance | mathfloor | distance }}</span></h4>
    <h4 class="card-title"><span>{{getAverageBurn | mathfloor | burn }}</span></h4>
  </div>
</div>
