<div class="container-fluid">
  <div class="row">
    <div class="col-lg-8">
      <app-panel
        [trackInfo]="trackerInfo$ | async"
        (trackPreviewDelete)="onDelete($event)"

        (addTrackInfo)="onAddTrack($event)">
      </app-panel>
    </div>
    <div class="col-lg-4">
      <app-top-raiting [trackInfo]="trackerInfo$ | async"></app-top-raiting>
    </div>
  </div>
</div>
