:host {
  display: block;
}

:host:hover .delete-btn {
  right: -10px;
}

:host:hover .preview-title {
  padding-right: 20px;
}

.preview-title {
  padding-right: 0;
  position: relative;
  transition: padding .2s;
}

.delete-btn {
  position: absolute;
  right: -60px;
  transition: all .2s;
  opacity: .5;
  cursor: pointer;
  border-radius: 50%;
  font-size: 20px;
}

.delete-btn:hover {
  opacity: 1;
}

.delete-btn:active {
  opacity: .7;
}
