<div class="d-flex justify-content-between align-items-center preview-title">
  <span>{{trackPreview.data | date:'longDate'}}</span>
  <span>{{trackPreview.steps | step }}</span>
  <span>{{trackPreview.distance | mathfloor  |  distance }}</span>
  <span>{{trackPreview.duration | duration }}</span>
  <span>{{trackPreview.burn | mathfloor | burn}}</span>
  <div class="d-flex justify-content-between align-items-center preview-title">
    <span class="badge badge-danger delete-btn" (click)="onDeleteClick()">&times;</span>
  </div>
</div>
