<div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-12">
        <h1 class="title">Вход</h1>
        <form [formGroup]="form">
          <div class="form-group">
            <label for="emailLogin">Логин</label>
            <input type="email"
                   formControlName="email"
                   class="form-control is-invalid"
                   [class.is-invalid]="form.get('email').invalid && form.get('email').touched"
                   id="emailLogin"
                   aria-describedby="email"
                   placeholder="Ваш адрес">
            <div class="invalid-feedback">
              {{getErrors(form.get('email'))}}
            </div>
          </div>
          <div class="form-group">
            <label for="password">Пароль</label>
            <input type="password"
                   formControlName="password"
                   autocomplete="off"
                   class="form-control is-invalid"
                   [class.is-invalid]="form.get('password').invalid && form.get('password').touched"
                   id="password"
                   placeholder="Ваш пароль">
            <div class="invalid-feedback">
              {{getErrors(form.get('password'))}}
            </div>
          </div>
          <div class="d-flex justify-content-end">
            <button type="submit"
                    class="btn btn-primary">Войти
            </button>
            <span class="btn"></span>
            <button type="button"
                    class="btn btn-success">Зарегистрироваться
            </button>
          </div>
        </form>
      </div>
    </div>
</div>

