<div class="container">
  <div class="card column1" style="width: 40rem;">
    <div class="card-header bg-primary">
      Мои тренировки
    </div>
    <div class="card-body text-primary">
      <div class="d-flex justify-content-between align-items-center">
        <p class="card-text m-0">Ваши тренировки за последнюю неделю</p>
        <button class="btn btn-primary"
                [class.btn-primary]="!isAddTrackInfoShow"
                [class.btn-danger]="isAddTrackInfoShow"
                (click)="toggleAdd()">
          {{isAddTrackInfoShow ? 'Отменить' : 'Добавить'}}
        </button>
      </div>
    </div>
    <div class="card-body" *ngIf ="isAddTrackInfoShow">
      <app-add-track (addTrackInfo)="addTrackInfo.emit($event)"></app-add-track>

    </div>
    <ul class="list-group list-group-flush">

      <li *ngFor="let track of trackInfo; let i = index"
          class="list-group-item">
        <app-track-preview [trackPreview]="track"
        (trackPreviewDelete)="trackPreviewDelete.emit(track)"
        ></app-track-preview>
      </li>
    </ul>
  </div>
</div>
