<div class="jumbotron">
  <h1 class="display-5">Привет!</h1>
  <p class="lead">
    Любишь бегать, кататься на велосипеде или просто проводить время на свежем воздухе?
    Тогда бесплатное приложение PROVE IT — это то, что тебе нужно. Попробуй, тебе понравится! 😉
  </p>
  <hr class="my-4">
  <p>
    Миллионы бегунов, велогонщиков и просто активных людей используют PROVE IT, чтобы записывать данные своих тренировок,
    следить за прогрессом в своих спортивных приключениях.
  </p>
  <video class="customVideo" controls width="530" height="308">
    <source src="assets/video.mp4" type="video/mp4"><!-- MP4 для Safari, IE9, iPhone, iPad, Android, и Windows Phone 7 -->
  </video>
  <br>
  <a class="btn btn-primary btn-lg" routerLink="/main-panel" role="button">Начни прямо сейчас!</a>
</div>
