<div class="layout">
  <div class="layout__side">
    <app-sidebar></app-sidebar>
  </div>
  <div class="layout__main">
    <div class="container">
      <div class="row">
        <div class="col-md-12 customColumn">
<!--          <app-intro></app-intro>-->
<!--          <app-panel class="colum1"></app-panel>-->
<!--          <app-top-raiting></app-top-raiting>-->
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>
