.layout {
  display: flex;
  height: 100vh;
}

.layout__side {
  flex: 0 0 300px;
  width: 300px;
  border-right: 1px solid #dadada;
  padding: 10px 0;
}

.layout__main {
  flex: 1 1 auto;
  overflow: auto;
  padding: 20px 0;
}

.customColumn {
  display: flex;
}

.colum1 {
  margin-right: 60px;
}
